auto-install-peers=true
strict-peer-dependencies=false
prefer-frozen-lockfile=true
shared-workspace-lockfile=true
save-workspace-protocol=true
engine-strict=false
# Hoist all deps to root node_modules so Netlify serverless functions can resolve next
shamefully-hoist=true
